<!-- <h1>Hello world</h1>

<input type="text" [(ngModel)]="mytext"><br>

<button class="btn btn-danger" (click)="clickevent()">Ok</button>

<p [class]="myclass">{{mytext}}</p> -->

<!-- form -->

<!-- 
<app-navbar></app-navbar>


<app-login></app-login> -->


<div>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</div>


<h1>Dynamic data</h1>
<div>
  <router-outlet></router-outlet>
</div>
<!-- <p>{{title | uppercase}}</p>
<p>{{title | lowercase}}</p>
<p>{{date | date: 'shortDate'}}</p>
<p>{{date | date: 'M/dd/yyyy'}}</p>
<p>{{date | date: 'fullDate' | uppercase}}</p>
<p>{{date | date: 'h:mm'}}</p>
<p>{{"99" | currency:"AED"}}</p>
<p>{{arr | slice:0:8}}</p>
<p>{{0000123.343434 | number:'3.1-3'}}</p>

<p>{{"fsaffafa" | mycustompipe}}</p> -->





<!-- 
<ul>
  <li *ngFor="let i of x">
    {{i}}
  </li>

  <div>
    <p *ngIf="islogin; else my"> 
      You are logged in
    </p>
  </div>

  <ng-template #my>
    <p>You are not logged in</p>
  </ng-template>
</ul> 


<app-my-component></app-my-component> -->